<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/wellcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="loggeduser==undefined">
  <ion-content >
    <div class="container">
      <h1>Login</h1>

      <div class="form-container">
        <div [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input   type="text" formControlName="username" required placeholder= "Username"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input   type="password" formControlName="password" required placeholder= "Password"></ion-input>

          </ion-item>

          <ion-button expand="block" class="main-button" (click)="onSubmit()">Log in</ion-button>

          <div style="color: #751124" *ngIf="fail ">
            Username sau parola incorecta!
          </div>

          <div style="color: #751124" *ngIf=valid >
            Introdu username si parola!
          </div>

        </div>
      </div>

    </div>
  </ion-content>

  <ion-card-content>
    <pre></pre>
    <p style="color: red;">You don't have an account?</p>
    <a routerLink="/register" style="color: crimson;"> Register</a>
  </ion-card-content>
</ion-content>
<div *ngIf="loggeduser">
  <ion-card-content>
    {{loggeduser.nume}} {{loggeduser.prenume}}, bine ai venit!
  </ion-card-content>
</div>
