
<div *ngIf="cartProductList" class="orderbox" >
  <div class="row"  *ngFor="let item of cartProductList">
      <div class="product-info">
        <img class="product-image" src ="assets/{{item.product.imagine}}">
        <h1>{{item.product.nume}}</h1>
        <h3 *ngIf="item.product.toppinguri && item.product.toppinguri!=''" >-{{item.product.toppinguri.nume}}</h3>
        <h2 class="bucati">{{item.num}}</h2>
        <h1 class="pret">{{item.product.pret}} lei</h1>
        <div class="buttondelete"><button (click)="remove(item.product)"><mat-icon>delete</mat-icon></button>
      </div>
<br>
  </div>
</div>
</div>


<div id="cart-status">
  <h1>TOTAL: {{getTotal()}} lei</h1>

  <div *ngIf="!isLogged">
    <h2 matDialogTitle>Trebuie sa ai un cont pentru a pune o comanda</h2>
    <a routerLink="/login" style="font-size: 30px; color: #2814dc;"> Login</a>
    <br><br>
    <a routerLink="/register" style="color: #dc141b;">Register</a>
  </div>
</div>

<div *ngIf="isLogged">
  <app-orderform [orderList]="cartProductList"
  [total]="getTotal()"></app-orderform>
  </div>
<br><br>


