#hello_user{
  position: relative;
  margin-top: 50px;
  text-align: center;
}
.menu {
   collapse:container;
   align-self: center;
  margin: auto;
}

.product-card {


  margin:auto;
  border-radius: 10px;


}
.product-image {
  margin: auto;

}
img{
  width:  800px;
  height: 400px;
  background-size: cover;
  object-fit:scale-down;
}

.product-info{
  text-align: center;
  position: center;

}
.row{
  display: flex;
  margin:auto;
  margin-bottom: 70px;

}
button{
  background-color: papayawhip;
}


