<a id="logo" routerLink="/" routerLinkActive="active" ><img style=" width: 90px"  src="../../assets/a.png"></a>
<div class="menu_right" *ngIf="notUser">
  <button mat-button   class="shopping_cart" routerLink="/chart"> <mat-icon>shopping_cart</mat-icon>Chart</button>
  <button mat-button routerLinkActive="active"  routerLink="/login" ><mat-icon >account_box</mat-icon> Login</button>
</div>

<div class="menu_right" *ngIf="currentUser">
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_box</mat-icon>My_account</button>
  <mat-menu style="font-size: 20px"#menu="matMenu">
    <button mat-menu-item>About me</button>
    <button mat-menu-item>Orders</button>
  </mat-menu>
  <button mat-button class="shopping_cart" routerLinkActive="active"  routerLink="/chart"><mat-icon>shopping_cart</mat-icon>Chart</button>
  <button mat-button style="color: black" (click)="logout_alert()">Logout</button>
</div>

<div class="menu" >
  <button mat-button  routerLink="/" routerLinkActive="active">Home</button>
  <button routerLinkActive="active" mat-button routerLink="/restaurant" >Restaurante  </button>
</div>

<br>
<router-outlet></router-outlet>
<div class="contact">
  <p><span style="font-size: xx-large">Telefon</span>: 0726686944</p>
    <p><span style="font-size: xx-large">Mail</span>: fooddel10@gmail.com</p>
    <p><span style="font-size: xx-large">Adresa</span>: Strada Furnicilor nr. 43 Craiova</p>
</div>
