<a id="logo" routerLinkActive="active" mat-button [routerLink]="['/']"><img style=" width: 90px"  src="../../assets/a.png"></a>
<div id="login" *ngIf="notUser">
  <mat-icon  style="color: blue;">account_box</mat-icon>
  <a routerLinkActive="active" [routerLink]="['/login']">Login</a>
</div>
<div id="logout" *ngIf="currentUser">
  <mat-icon  style="color: blue;">account_box</mat-icon>
  <a >Logout</a>
</div>

<div id="menu" *ngIf="currentUser" >
  <button routerLinkActive="active" mat-button [routerLink]="['/restaurants']" >Restaurante  </button>

  <button mat-button >Comenzi     </button>
  <button mat-button >Cont</button>


</div>
<div id="menu" *ngIf="notUser" >
  <button mat-button routerLinkActive="active" mat-button [routerLink]="['/restaurants']">Restaurante  </button>



</div>


<router-outlet></router-outlet>
