
.menu_right{
  margin-right: 50px;
  align-self: flex-end;
  font-size: large;
  text-align: right;
}
.menu_right button{
  color: #2d1c1c;

  font-size:15px !important;
}
.menu{
  margin: auto;

  align-self: center;
  font-size: large;
  text-align: center;

}


#logout {
  margin: auto;
  margin-left: 1190px;
  align-self: flex-end;
  font-size: large;
  text-align: center;

}
.logo{
  width: 90px;
}
button{
  color: brown;

  font-size: xx-large;
}
mat-item{
  color: darkred;
}
.menu_right button{
  background-color: papayawhip;
}


.contact{
  background-color: darkgray;
  text-align: center;
  border-top: 5px solid black;
  margin-bottom: 0px;
  padding: 10px;
}
