* {
    font-family: lato;
}

.menu-header-bg {
    height: 180px;
    width: 350px;
    background: #da6b1c;
    background: linear-gradient(90deg, #da6b1c 0%, #b75007 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #b75007;
        margin-right: 14px;
    }

    h2 {
        font-weight: 300;
        color: azure;
    }

    p {
        font-size: 12px;
        color: antiquewhite;
        font-weight: 100;
        letter-spacing: 0.4px;
    }


}

.action-button {
    display: flex;
    justify-content: center;
    margin-bottom:20px;

    ion-button {
        text-transform: capitalize;
        font-weight: 300;
        --background: #da6b1c;
        --border-radius: 7px;
        --box-shadow: none;
    }

    ion-icon {
        margin-right: 1px; 
    }
}

.menu-items {
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    border-left: 5px solid;
    color: antiquewhite;
    padding-left: 15px;
  }

  
}
