<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Food! <ion-icon name="fast-food-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <div id="strengths">
    <ion-title><ion-icon name="shield-checkmark-outline"></ion-icon>    Rapiditate</ion-title>
    <ion-title><ion-icon name="shield-checkmark-outline"></ion-icon>    Seriozitate</ion-title>
    <ion-title><ion-icon name="shield-checkmark-outline"></ion-icon>    Restaurante verificate</ion-title>
  </div>
  <br><br>
  <ion-list cols="2" rowHeight="2:1">
    <ion-item><img src="assets/mancare1.jpg"></ion-item> <br><br>
    <ion-item><img src="assets/mancare2.jpg" ></ion-item> <br><br>
    <ion-item><img src="assets/mancare3.jpg" ></ion-item> <br><br>
    <ion-item><img src="assets/mancare1.jpg" ></ion-item> <br><br>
  </ion-list>

</ion-content>
