
<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 5 Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="buttons">
          <ion-button [routerLink]="['/registration']" type="submit">Register</ion-button>
        </div>
        <div class="buttons">
          <ion-button [routerLink]="['/login']" type="submit">Sign In</ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
