<br>
<div id="presentation">
  <h1>{{r.nume}}</h1>
  <p>{{r.descriere}}</p>
</div>
<div *ngIf="menulist">
<div class="box" *ngFor="let item of menulist">
    <img src="assets/{{item.imagine}}" alt="Imagine">
    <div class="content">
      <h1>{{item.nume}}</h1>
      <div>{{item.ingrediente}}</div>
      <h2>{{item.pret}} lei</h2>
      <div *ngFor="let top of item.toppinguri">{{top?.nume}}</div>
      <div class="add_button">
        <button mat-button>Adauga in cos</button>
      </div>
    </div>
</div>
</div>
