mat-card {
  position:relative;
  max-width: 500px;
  max-height: 500px;
  margin:auto;
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
  background-color: whitesmoke;
}



a,h2,h1,h3, label{
  color: black;
}

mat-form-field {
  display: block;
  text-align: center;

}

input{
  color: black;
}
label{
  font-size: 15px;
  font-weight: 500;
}
.logo{
  font-size: large;
  color: blue;
}
