
<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="logo">Register</div>
      <pre></pre>
      <br>
      <div class="login-item">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form form-register">

          <pre></pre>
          <div class="form-field">
            <label class="user" ><span class="hidden">Name</span></label>
            <pre></pre>
            <input   type="text" formControlName="nume" required placeholder= "Name"  >


          </div>
          <pre></pre>
          <div class="form-field">
            <label class="user" ><span class="hidden">Username</span></label>
            <pre></pre>
            <input   type="text" formControlName="username" required placeholder= "Username"  >

          </div>


          <pre></pre>
          <div class="form-field">
            <label class="lock" ><span class="hidden">Password</span></label>
            <pre></pre>
            <input  required  formControlName="password"  type="password" placeholder="Password" >
          </div>
          <pre></pre>
          <br>

          <div class="form-field">
            <button mat-raised-button color="warm">Register</button>
          </div>
          <div style="color: #148825" *ngIf="succes">
            User inregistrat
          </div>
          <div style="color: #751124" *ngIf="usernameExists">
            Username existent
          </div>
          <div style="color: #751124" *ngIf="!valid" >
            Introdu toate datele necesare
          </div>
        </form>

      </div>
    </div>
    <pre></pre>
    <p style="color: red;">You have an account?</p>
    <a routerLink="/login" style="color: crimson;"> Login</a>
  </mat-card-content>
</mat-card>

