<br><br>
<div id="strengths">
  <mat-icon>check_circle</mat-icon>Rapiditate
  <mat-icon>check_circle</mat-icon>Restaurante verificate
  <mat-icon>check_circle</mat-icon>Seriozitate
</div>
<br><br>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><img src="assets/mancare1.jpg"></mat-grid-tile>
  <mat-grid-tile><img src="assets/mancare2.jpg" ></mat-grid-tile>
  <mat-grid-tile><img src="assets/mancare3.jpg" ></mat-grid-tile>
  <mat-grid-tile><img src="assets/mancare1.jpg" ></mat-grid-tile>
</mat-grid-list>
